body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    user-select: none;
}

.container {
    margin: 10px auto;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    max-width: 300px;
}
