body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    user-select: none;
}

.container {
    margin: 10px auto;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    max-width: 300px;
}

.container__item {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #0277BD;
}
